
# -------------------------
# VS Code
# -------------------------
.vscode/
*.code-workspace

# -------------------------
# Terraform
# -------------------------
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl


# -------------------------
# OS-specific
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
## Logs
# -------------------------
*.log

# -------------------------
# Other common ignores
# -------------------------

